# Build outputs
build/
*.aar
*.apk

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# OpenIM Docker data
openim-docker/components/kafka/data/
openim-docker/components/mongodb/data/
openim-docker/components/redis/data/
openim-docker/components/mnt/data/

# iOS/macOS generated
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Logs
*.log

# Platform symlinks
**/ephemeral/.plugin_symlinks/

# Android Gradle build artifacts
android/gradle/8.9/executionHistory.bin
android/gradle/8.9/executionHistory.lock
android/gradle/8.9/fileHashes.bin
android/gradle/8.9/fileHashes.lock
android/gradle/8.9/resourceHashesCache.bin
android/gradle/buildOutputCleanup.lock
android/local.properties
android/file-system.probe

# Flutter build outputs
build/

.txt
